
/* css */
body {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

h1 {
  padding: 30px 0px 30px 0px;
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

h2 {
  padding: 10px 0px 10px 0px;
  font-size: 2em;
}

h4 {
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

a, a:link {
  color: #A11515;
  text-decoration: none;
}


a:hover {
  color: #BE2215;
  text-decoration: none;
}
/* Why isn't this working?? */

a:visited {
  color: #821515;
  text-decoration: none;
}

a:active {
  color: #BE2215;
  text-decoration: none;
}

button {
  position: absolute;
  background-color: #A11515;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  font-size: .75em;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #BE2215;
}


/* DOWN ARROW HOME PAGE*/
.arrow {
  margin: auto;
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #A11515;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.box {
  display: flex;
  background-color: white;
}

#full {
  height: 90vh;
  background-color: white;
}

#full2 {
  height: 90vh;
  background-color: white;
}


#full3 {
  height: 90vh;
  background-color: white;
}

.site-title {
  padding: 30px 0px 30px 0px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
}

#map {
  height: 20em;
  width: 20em;
  margin: auto;
  padding: 5px;
  box-shadow: 5px 5px 5px grey;
}

/* sizes: m */
@media (min-width: 768px) {
  h1 { font-size: 4em;}
  h2 { font-size: 2em;}
  #map { height: 40em;
    width: 40em;
    padding: 10px;}
  button {
    position: absolute;
    background-color: #A11515;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .60em;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  #logo-title {
    font-size: 4rem;
    margin-top:0px;
    margin-bottom:0px;
  }
}

/* sizes: l, xl */
@media (min-width: 992px) {
  h1 { font-size: 4em;}
  h2 { font-size: 2em;}
  #map { height: 43em;
    width: 43em;
    padding: 2px;}
  button {
      position: absolute;
      background-color: #A11515;
      border-radius: 10px;
      border: none;
      color: white;
      margin: auto;
      text-align: center;
      font-size: .60em;
      padding: 15px; }

  #logo-title {
    margin-top:90px;
  }

}
